aiofiles==24.1.0
aiofile==3.9.0
aiosqlite==0.20.0
altgraph==0.17.4
asyncua==1.1.5
cffi==1.17.1
cryptography==44.0.0 ; platform_machine == "armv7l"
cryptography==44.0.0 ; platform_machine != "armv7l"
future==1.0.0
importlib-metadata==8.5.0
pefile==2024.8.26
pycparser==2.22
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
six==1.17.0
typing-extensions==4.12.2
zipp==3.21.0
pandas==2.2.3
