aiofiles==23.2.1
aiofile==3.8.8
aiosqlite==0.19.0
altgraph==0.17.3
asyncua==1.0.4
cffi==1.15.1
cryptography==41.0.3
future==0.18.3
importlib-metadata==6.8.0
pefile==2023.2.7
pycparser==2.21
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.8
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
six==1.16.0
typing-extensions==4.7.1
zipp==3.16.2
pandas==2.0.3
