aiofiles==23.2.1
aiofile==3.8.8
aiosqlite==0.19.0
altgraph==0.17.4
asyncua==1.0.5
cffi==1.16.0
cryptography==41.0.4
future==0.18.3
importlib-metadata==6.8.0
pefile==2023.2.7
pycparser==2.21
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
six==1.16.0
typing-extensions==4.8.0
zipp==3.17.0
pandas==2.1.1
